#s-616a0412-334a-44cf-bec8-92c72bdd9860 > #backgroundBox {
  position: absolute;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 > #alignmentBox {
  position: relative;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Rectangle_1 {
  position: absolute;
  width: 640.0px;
  min-height: 798.8831517487146px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input {
  position: absolute;
  width: 400.0px;
  height: 41.449289918881675px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input .valign {
  vertical-align: middle;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 {
  position: absolute;
  width: 400.0px;
  height: 43.28589462254229px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Paragraph {
  position: absolute;
  width: 312.1445312499993px;
  min-height: 127.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Paragraph .valign {
  vertical-align: top;
  text-align: center;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Paragraph span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button {
  position: absolute;
  width: 400.0px;
  min-height: 34.31375734887524px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999993%);
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 {
  position: absolute;
  width: 400.0px;
  height: 43.28589462254217px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 {
  position: absolute;
  width: 400.0px;
  height: 41.44928991888156px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #shapewrapper-s-Ellipse .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #shapewrapper-s-Ellipse .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #shapewrapper-s-Ellipse {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Ellipse {
  width: 520.0820312500003px;
  height: 500.08203125px;
  min-height: 500.08203125px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #shapewrapper-s-Ellipse > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #shapewrapper-s-Ellipse .valign {
  vertical-align: middle;
  text-align: center;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #shapewrapper-s-Ellipse span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #shapewrapper-s-Ellipse span#rtr-s-Ellipse_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Text_1 {
  position: absolute;
  width: 557.1640625px;
  min-height: 195.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Text_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 {
  position: absolute;
  width: 175.0000000000001px;
  min-height: 51.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-616a0412-334a-44cf-bec8-92c72bdd9860 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}